<html>
  <head>
    <style>
    p, h1, h2, form {
      text-align: center;
    }
    </style>
  </head>
  <body bgcolor=<%= background %>>
    <h1>Please guess a number</h1>
    <h2>What's your guess?</h1>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value="What's your guess, human?" />
    </form>
      <h1> your guess is <%= message %> </h1>
      <%= cheat_code %>
  </body>
</html>


<!-- css
here
and here -->
