<html>
  <head></head>
  <body>
    <p>
      the secret number is <%= number %>
    </p>
    <p>
      your guess of <%= guess %> is <%= message %>
    </p>
  </body>
</html>

<form>
  <input type='text' name='guess' />
  <input type='submit' value="What's your guess, human?" />
</form>
