<html>
  <head></head>
  <body>
    <p>
      the secret number is <%= number %>
    </p>
    <p>
      <% response[:too_high] %>
    </p>
    <p>
      your guess was <%= guess %> and it is <%= response[:too_high].upcase %>
    </p>
  </body>
</html>

<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess, bitch!' />
  <input type='submit' value='click me, asshole' />
</form>
